* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.strt_compaign1 {
  height: 470px;
  width: 60%;
  border: 1px solid black;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 123, 143, 0.6);
}
.strt_compaign1 h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.progres_title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.progress_bar {
  height: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
}
.progress {
  height: 100%;
  width: 85%;
  border-radius: 50px;
  background: linear-gradient(to right, #00b386, #007b8f);
}
.progress_name {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
.progres_title p {
  font-size: 18px;
  font-weight: bold;
}
.details {
  margin-left: 150px;
  height: 60px;
  width: 70%;
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.compaign_content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.compaign_content label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
}
.compaign_content input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.753);
}
.compaign_content2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.compaign_content2 label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
}
.compaign_content2 input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.753);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.buttons button {
  padding: 10px 70px;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  background-color: #00b386;
}
.buttons a button {
  text-decoration: none;
  color: white;
}
