*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
}
.dashboard{
    height: 70vh;
    width:60%;
    margin:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 123, 143, 0.6);
}
.box{
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:10px;
    box-shadow: 0 0 3px rgba(0, 123, 143, 0.6);

}
.box h4{
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.box h2{
    text-align: center;
    font-size: xx-large;
    color:rgba(52, 49, 49, 0.881);

}