* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns:2fr 1fr;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 0 3px rgba(0, 123, 143, 0.6);
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campaign-box {
  background-color: #f0fdfc;
  border: 1px solid black;
  padding: 20px;
  border-bottom: none;
  border-radius: 5px;
  border-right: none;
}

.campaign-img {
  border: 2px solid black;
  height: 350px;
  border-radius: 5px;
}
.campaign-img img {
  height: 100%;
  width: 100%;
}

.campaign-box h2 {
  margin-top: 15px;
  font-size: 22px;
  color:black;
}

.campaign-box p {
  font-size: 16px;
  margin-top: 5px;
  color:black;
}

.story-box {
  border: 1px solid black;
  padding: 20px;
  border-right: none;
  border-radius: 5px;
}

.story-box h4 {
  margin-bottom: 10px;
  color: #121414;
}

.story-box p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #070404;
}

.story-box ul {
  margin-left: 20px;
  color:black;
}

.support-section {
  background-color: #f0fdfc;
  border: 1px solid black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
}

.support-section h3 {
  margin-bottom: 15px;
  color: #060909;
}
.support-section h4 {
  color: #060909;
  margin-top: 20px;
}

.support-section p {
  margin-bottom: 10px;
  color: #060909;
}

.amount-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.amount-buttons button {
  background-color: #00b386;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

input {
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

.donate-btn {
  background-color: #ff7043;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.payment-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.payment-buttons button {
  background-color: #00b386;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

a {
  color: #00bfa5;
  text-decoration: none;
}

footer {
  background-color: #00bfa5;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  border-top: 2px solid black;
}
.price{
  font-weight: bold;
}