* {
  padding: 0px;
  margin: 0px;
}
.title {
  text-align: center;
  margin: 40px;
}
.sidebar {
  height: 99vh;
  width: 22%;
  border: 2px solid black;
  background-color: #f0fdfc;
}
.list {
  display: flex;
  flex-direction: column;
}
.list a button {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border: 1.5px solid black;
  border-radius: 2px;
  border-style: dashed;
  background-color: transparent;
}
.list a button:hover {
  cursor: pointer;
  background-color:#00bfa5;
  transition:0.8;
}
.list a {
  margin: 3px 5px;
}
.title h2 {
  font-size: 30px;
}
.title p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
