* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  color: #333333;
}

.signin_container {
  height: 600px;
  width: 500px;
  border: 2px solid #00bfa5;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 123, 143, 0.6);
}

.signin_container h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #00bfa5;
}

.signin_container h6 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.s_container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin-left: 65px;
  margin-top: 40px;
}

.s_container2 input {
  padding: 0px 10px;
}

.s_container2 label {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333333;
}

.s_container2 input {
  height: 30px;
  border: 1.5px solid #00bfa5;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333333;
}

#signin_btn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 10px;
  background-color: #00bfa5;
  color: white;
  border: none;
}

.role label {
  display: flex;
  align-items: center;
}
